spring:
  application:
    name: "java-spring-authentication"

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver

  h2:
    console:
      path: /h2-console
      enabled: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect

  jwt:
    secret: "random_secret_key_UxOGtrXGDxZqXYLmPbZdcDeUgX9u0Kgg_for_auth_app"
    expiration: 3600000 # 1 hour in milliseconds

#logging:
#  level:
#    org:
#      springframework:
#        security: "DEBUG"
