spring:
  application:
    name: "java-spring-authentication"

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver

  h2:
    console:
      path: /h2-console
      enabled: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect

  jwt:
    secret: ${JWT_SECRET_KEY}
    expiration: 3600000

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enable: false
            trust: "*"


app:
  mail: ${MAIL_FROM_ADDRESS}

springdoc:
  swagger-ui:
    path: "/swagger-ui.html"


server:
  forward-headers-strategy: framework

#logging:
#  level:
#    org:
#      springframework:
#        security: "DEBUG"
