spring:
  application:
    name: "java-spring-authentication"

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver

  h2:
    console:
      path: /h2-console
      enabled: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect

  jwt:
    secret: "random_secret_key_UxOGtrXGDxZqXYLmPbZdcDeUgX9u0Kgg_for_auth_app"
    expiration: 3600000 # 1 hour in milliseconds

  mail:
    host: "sandbox.smtp.mailtrap.io"
    port: 2525
    username: "a14b92dd608ee6"
    password: "5c125ceb7b5abf"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enable: false



springdoc:
  swagger-ui:
    path: "/swagger-ui.html"



#logging:
#  level:
#    org:
#      springframework:
#        security: "DEBUG"
